---
import '../styles/global.css';
import { Font } from 'astro:assets';
import { SITE_TITLE } from '../consts';

interface Props {
	title: string;
	description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const rssURL = new URL('rss.xml', Astro.site);
const sitemapURL = new URL('sitemap-index.xml', Astro.site);

const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="/favicon.ico" />
<link rel="sitemap" href={sitemapURL} />
<link rel="alternate" type="application/rss+xml" title={SITE_TITLE} href={rssURL} />
<meta name="generator" content={Astro.generator} />

<Font cssVariable="--font-atkinson" preload />

<link rel="canonical" href={canonicalURL} />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
